.App {
  padding-top: 15px;
  text-align: center;
}

.searchForm-wrapper {
  display: flex;
  justify-content: center;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.movieListItem {
  margin-bottom: 24px;
  width: 48%;
}